[submodule "components/Chassis"]
	path = components/Chassis
	url = https://github.com/teruyamato0731/Chassis.git
[submodule "components/Stepper-STM32"]
	path = components/Stepper-STM32
	url = https://github.com/2025-SSR-Team5/Stepper-STM32.git
[submodule "components/ESP32-SG90"]
	path = components/ESP32-SG90
	url = https://github.com/2025-SSR-Team5/Esp32_Sg90.git
[submodule "components/vl53l1x-arduino"]
	path = components/vl53l1x-arduino
	url = https://github.com/2025-SSR-Team5/vl53l1x-arduino.git
[submodule "components/ps3_controller_host"]
	path = components/ps3_controller_host
	url = https://github.com/2025-SSR-Team5/ps3_controller_host.git
[submodule "components/ESP32Servo"]
	path = components/ESP32Servo
	url = https://github.com/2025-SSR-Team5/ESP32Servo.git
[submodule "components/ToF_Lidar"]
	path = components/ToF_Lidar
	url = https://github.com/2025-SSR-Team5/ToF_Lidar
[submodule "components/Tri_omni_control"]
	path = components/Tri_omni_control
	url = https://github.com/2025-SSR-Team5/Tri_omni_control.git
[submodule "components/chassis"]
	url = https://github.com/2025-SSR-Team5/Chassis.git
